<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
        link(href="//fonts.googleapis.com/css?family=Poppins:400,600,900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        title Happy Birthday Ellie
    body
        h1.hero-text LOVE
            hr
            hr#mid
            hr#end
        .bg
            //- .tile.green.animated.fadeIn.delay-1s
            //- .tile.blue
            //- .tile.heart
            //- .tile.purple
            //- .tile.green
            //- .tile.d-green
            //- //- Row - 1
            //- .tile.purple
            //- .tile.green
            //- .tile.d-green
            //- .tile.l-blue
            //- .tile.blue
            //- .tile.purple
            //- //- Row - 2
            //- .tile.d-green
            //- .tile.blue
            //- .tile.purple
            //- .tile.green
            //- .tile.l-blue
            //- .tile.d-green
            //- //- Row - 3
            //- .tile.blue
            //- .tile.green
            //- .tile.l-blue
            //- .tile.d-green
            //- .tile.purple
            //- .tile.blue
            //- //- Row - 4
            //- .tile.purple
            //- .tile.l-blue
            //- .tile.green
            //- .tile.blue
            //- .tile.d-green
            //- .tile.green
            //- //- Row - 5
            //- .tile.blue
            //- .tile.d-green
            //- .tile.l-blue
            //- .tile.green
            //- .tile.blue
            //- .tile.purple
            //- //- Row - 6
            //- .tile.green
            //- .tile.purple
            //- .tile.blue
            //- .tile.d-green
            //- .tile.l-blue
            //- .tile.d-green
            //- //- Row - 7
            //- .tile.blue
            //- .tile.green
            //- .tile.d-green
            //- .tile.l-blue
            //- .tile.green
            //- .tile.purple
            //- //- Row - 8

        section.sec
            h2.bday Happy Birthday

        script(src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
        <script>new WOW().init();</script>
        script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js")
        script(src="js/jquery.js")
        script(src="js/main.js")

        
